.exclusive{
    width: 100%;
    height: 100vh;
    padding: 50px;
}

.exc_title{
    display: flex;
    align-items: center;
    padding-bottom: 25px;
}

.exc_title h2{
    font-size: 38px;
}

.exc_title p{
    color: #585858;
    font-size: 18px;
    line-height: 1.7rem;
    margin-left: 20%;
    width: 70%;
}

.exclusive_buttons{
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 10px;
}

.exclusive_buttons button{
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    background-color: #f0f0f0;
    color: #707070;
    font-size: 15px;
    cursor: pointer;
}

.exclusive_buttons .exc_active{
    background-color: #FF5F00;
    color: #f0f0f0;
}

.exclusive_images{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50vh;
    margin-top: 3%;
}

.exl_left, .exl_right{
    width: 25%;
    height: 100%;
    background-color: #FF5F00;
    position: relative;
}

.exl_left img{
    position: absolute;
    margin-top: 10%;
    margin-left: 35%;
}

.exl_right img{
    position: absolute;
    margin-left: -115%;
    margin-top: 10%;
}