.interior{
    width: 100%;
    height: 100vh;
    padding: 80px;
}

.interior_header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 22vh;
}

.interior_title{
    width: 50%;
    height: 100%;
}

.interior_title h2{
    font-size: 2rem;
    color: #000000;
}

.interior_title span{
    color: #989898;
}

.interior_subtitle{
    width: 50%;
    font-size: 18px;
    height: 100%;
}

.interior_subtitle p{  
    color: #989898; 
    line-height: 1.7rem;
    padding-bottom: 15px;
}

.interior_subtitle a{ 
    color: #FF5F00;
    margin-left: 85%;
    font-size: 18px;
    text-decoration: underline;
    cursor: pointer;
}

.interior_content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height:120vh;
    margin-top: 50px;
    gap: 50px;
}

.interior_left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    
    border-radius: 30px;
}

.top_image{
    width: 100%;
    height: 50%;
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 27px -1px rgba(0,0,0,0.53);
    -moz-box-shadow: 0px 0px 27px -1px rgba(0,0,0,0.53);
    box-shadow: 0px 0px 27px -1px rgba(0,0,0,0.53);
}

.top_image img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 30px;

}

.bottom_image{
    width: 100%;
    height: 50%;
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 27px -1px rgba(0,0,0,0.53);
    -moz-box-shadow: 0px 0px 27px -1px rgba(0,0,0,0.53);
    box-shadow: 0px 0px 27px -1px rgba(0,0,0,0.53);
}

.bottom_image img{
    width: 100%;
    object-fit: cover;
    height: 94%;
    border-radius: 30px;
}

.interior_right{
    width: 50%;
    height: 100%;
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 27px -1px rgba(0,0,0,0.53);
    -moz-box-shadow: 0px 0px 27px -1px rgba(0,0,0,0.53);
    box-shadow: 0px 0px 27px -1px rgba(0,0,0,0.53);
}

.interior_right img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 30px;
}