.navbar{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffffff41;
    backdrop-filter: blur(60px);
    position: fixed;
    z-index: 1000;
}

.nav_logo{
    font-size: 30px;
    font-weight: 500;
}

.nav_links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
}

.nav_links ul{
    list-style: none;
}